<ul>
  <li>Група для повідомлень учасникам: <a href='https://t.me/+Y7KguwtmW-UxNGM6'>https://t.me/+Y7KguwtmW-UxNGM6</a></li>
  <li>Координатор: ст. викл. каф. ПІ ХНУРЕ - Саманцов О.О. <a href="https://t.me/OleksandrSamantsov">@OleksandrSamantsov</a></li>
</ul>
<p><b>Оргкомітет:</b></p>
<ul>
  <li>доц. каф. ПІ ХНУРЕ - Вечур О.В.</li>
  <li>доц. каф. ПІ ХНУРЕ - Валенда Н.А.</li>
  <li>доц. каф. ПІ ХНУРЕ - Русакова Н.Є.</li>
  <li>ст. викл. каф. ПІ ХНУРЕ - Ляпота В.М.</li>
  <li>ст. викл. каф. ПІ ХНУРЕ - Саманцов О.О.</li>
</ul>