<script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<p><b>Кубок України з програмування</b> – це один із наймасштабніших і найважливіших заходів в Україні. У першому Кубку взяли участь більш за 120 команд з усіх регіонів України. Кожна команда складалася з 4-х чоловік. Планується, що у другому Кубку кількість учасників стане більша, тому що він буде проводитися не під час літніх канікул, а протягом навчального року.</p>
<p><b>Кубок України з програмування</b> – це командне змагання, яке складається із кількох етапів 10(12)-ти відкритих змагань</p>
<ol>
    <li>Брати участь у кубку можуть команди студентів, школярі, професійні розробники,  що брали участь в олімпіадах з інформатики та програмування під час навчання, викладачі, викладачі, всі бажаючи, можливі змішані команди.</li>
    <li><b>Першочергове завдання.</b> Першочергове завдання Кубку – це просування України для фундаментального алгоритмічного навчання та розвитку технологічного бізнесу!</li>
    <li><b>Мета кубка</b> – формування, тренування та підготовка команд до міжнародних змагань та Всеукраїнських змагань. Учасники можуть об’єднуватися в команди у довільному порядку, радимо створювати команди таким чином, щоби пробувати надалі виступати тим же складом. Участь у кубку безкоштовна.</li>
    <li><b>Дивізіони</b>. Змагання проводитимуться у двох дивізіонах. Учасники можуть самостійно вибрати в якому дивізіоні брати участь. Перший дивізіон для більш досвідчених учасників, професіоналів з більш складними завданнями, другий для початківців та школярів, які тільки розпочинають вивчення та реалізацію алгоритмів та структур даних. Кожна команда обирає в якому дивізіоні змагатися: у першому чи другому. При цьому кожна команда може змінити свій дивізіон протягом кубка, для цього потрібно завчасно про це повідомити організаторів.</li>
    <li><b>Платформа.</b> Платформа проведення <a href="https://www.eolymp.com/">https://www.eolymp.com/</a></li>
    <li><b>Час проведення Кубку.</b> Листопад 2022-Травень 2023 року</li>
    <li><b>Формат кубку.</b> Кубок України – це командні змагання. Кубок проводиться онлайн для залучення максимальної кількості учасників та зручності учасників у цей непростий час. Кубок складається з декількох етапів (не менш 10 етапів), кожен з яких є звичайним контестом на 5 годин.  Кожний етап проводиться раз у два тижні по неділям. Між етапами заплановані дорозв’язування задач, які учасники не змогли розв’язати за 5 годин.</li>
    <li><b>Навчання.</b> Під час кубку між етапами проводиться консультації для роз’яснення нового матеріалу та допомоги у розв’язку складних задач. Є можливість поспілкуватися з більш досвідченими учасниками, узнати як вони розв’язували ту чи іншу задачу. Взагалі Кубок є настільки масштабним заходом, що можна його назвати альтернативною елітною освітою. Крім того елітність освітнього процесу під час Кубку забезпечуються за допомогою конкуренції між найсильнішими та найздібнішими школярами та студентами України.</li>
    <li>Загальний залік. Рейтинг буде підсумовуватися за усі етапи без урахування двох найгірших етапів. Рейтинг за етап вираховується згідно з формулою:
        <math mode="display">
            <msub><mi>R</mi><mn>team</mn></msub>
            <mo>=</mo>
            <msub><mi>K</mi><mn>div</mn></msub>
            <mo>*</mo>
            <mi>100</mi>
            <mo>*</mo>
            <mrow>
                <mfrac>
                    <mrow>
                        <msub><mi>Solved</mi><mn>team</mn></msub>
                    </mrow>
                    <mrow>
                        <msub><mi>Solved</mi><mn>winner</mn></msub>
                    </mrow>
                </mfrac>
            </mrow>
            <mo>*</mo>
            <mrow>
                <mfrac>
                    <mrow>
                        <mi>2</mi>
                        <mo>*</mo>
                        <msub><mi>N</mi><mn>teams</mn></msub>
                        <mo>-</mo>
                        <mi>2</mi>
                    </mrow>
                    <mrow>
                        <msub><mi>N</mi><mn>teams</mn></msub>
                        <mo>+</mo>
                        <msub><mi>Place</mi><mn>team</mn></msub>
                        <mo>-</mo>
                        <mi>2</mi>
                    </mrow>
                </mfrac>
            </mrow>
            <mtext>,</mtext>
        </math>
        де
        <ul>
            <li>
                <math><msub><mi>K</mi><mn>div</mn></msub></math> - 1 для команд першого дивізіону та 0.5 для команд другого дивізіону
            </li>
            <li>
                <math><msub><mi>Solved</mi><mn>team</mn></msub></math> - кількість завдань, розв’язаних даною командою
            </li>
            <li>
                <math><msub><mi>Solved</mi><mn>winner</mn></msub></math> - кількість завдань, розв’язаних переможцем
            </li>
            <li>
                <math><msub><mi>N</mi><mn>teams</mn></msub></math> - кількість команд, які брали участь у даному етапі
            </li>
            <li>
                <math><msub><mi>Place</mi><mn>team</mn></msub></math> - місце, що посіла дана команда
            </li>
        </ul>
    </li>
    <li><b>Розклад.</b> Не частіше чим раз на два тижні по неділям проводяться основні змагання на 5 годин. Після завершення основного туру змагань учасники отримують розбір завдань, спілкуються між собою та мають можливість вирішувати ті завдання, які вони не змогли вирішити під час основного туру.</li>
    <li><b>Реєстрація.</b> Для реєстрації на кубок треба заповнити <a href="https://forms.gle/pcbCYtCc7xohyhHZ7">анкету</a>. Для участі у кубку можна зареєструвати команди з 4 осіб. Під час кожного з етапів команда може виступати у будь-якій комбінації з зареєстрованих учасників, але не більше ніж 3 учасники одночасно. Один і той же учасник не може виступати за різні команди(інакше такі команди будуть поза конкурсом). Про зміні у складі на найближчий етап треба повідомити оргкомітет завчасно(мінімум за 12 годин) до початку етапу.</li>
    <li><b>Сайт.</b> <a href="https://cup.org.ua/">https://cup.org.ua/</a></b></li>
</ol>