<table>
<thead>
<tr>
<th>Етап</th>
<th>Дата</th>
<th>Основний тур</th>
<th>Дорішування</th>
<th>Результати</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>2022-11-27<br />10:00-15:00</td>
<td>
<a href="https://bhel2cutae.eolymp.io/">Дівізіон 1</a><br />
<a href="https://k8qoxa04i4.eolymp.io/">Дівізіон 2</a>
</td>
<td>
<a href="https://fx7knvqn18.eolymp.io/">Дорішування</a>
</td>
<td>
<a href="https://cupua2.eolymp.space/s/eumstncdeaidqjhq">Дівізіон 1</a><br />
<a href="https://cupua2.eolymp.space/s/idgnqtjzdfscaaiq">Дівізіон 2</a><br />
<a href="https://cupua2.eolymp.space/s/eqmihwfjgdcpubse">Дорішування</a>
</td>
</tr>
<tr>
<td>2</td>
<td>2022-12-18<br />10:00-15:00</td>
<td>
<a href="https://8vs5nxlot0.eolymp.io/">Дівізіон 1</a><br />
<a href="https://ndjem1x7j3.eolymp.io/">Дівізіон 2</a>
</td>
<td>
<a href="https://pynwztzac1.eolymp.io/">Дорішування</a>
</td>
<td>
<a href="https://cupua2.eolymp.space/s/xt743tozdlbh">Дівізіон 1</a><br />
<a href="https://cupua2.eolymp.space/s/3cywn2tu9hl1">Дівізіон 2</a><br />
<a href="https://cupua2.eolymp.space/s/z31ipez4tz4x">Дорішування</a>
</td>
</tr>
<tr>
    <td>3</td>
    <td>2023-01-22<br />10:00-15:00</td>
    <td>
        <a href="https://hsrdu7wnjm.eolymp.io/">Дівізіон 1</a><br />
        <a href="https://p2ct4wzvwt.eolymp.io/">Дівізіон 2</a>
    </td>
    <td>
        <a href="https://8oygoojwj5.eolymp.io/">Дорішування</a>
    </td>
    <td>
        <a href="https://cupua2.eolymp.space/s/1pv9ie80ycmf">Дівізіон 1</a><br />
        <a href="https://cupua2.eolymp.space/s/lawtmkd0jxk5">Дівізіон 2</a><br />
        <a href="https://cupua2.eolymp.space/s/lzkivh67fb5o">Дорішування</a>
    </td>
</tr>
    
<tr>
    <td>4</td>
    <td>2023-02-12<br />10:00-15:00</td>
    <td>
        <a href="https://ewjj6tmzfs.eolymp.io/">Дівізіон 1</a><br />
        <a href="https://tkjdu6qgqh.eolymp.io/">Дівізіон 2</a>
    </td>
    <td>
        <a href="https://n29aih5j67.eolymp.io/">Дорішування</a>
    </td>
    <td>
        <a href="https://cupua2.eolymp.space/s/w3onlymgzaqkfaq3">Дівізіон 1</a><br />
        <a href="https://cupua2.eolymp.space/s/e4gkbylflbaj02s4">Дівізіон 2</a><br />
        <a href="https://cupua2.eolymp.space/s/6t326tnt9pe9ie0f">Дорішування</a>
    </td>
</tr>
</tbody>
</table>
