<table>
<thead>
<tr>
<th>Етап</th>
<th>Дата</th>
<th>Основний тур</th>
<th>Дорішування</th>
<th>Результати</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>2022-11-27<br />10:00-15:00</td>
<td>
<a href="https://bhel2cutae.eolymp.io/">Дівізіон 1</a><br />
<a href="https://k8qoxa04i4.eolymp.io/">Дівізіон 2</a>
</td>
<td>
<a href="https://fx7knvqn18.eolymp.io/">Дорішування</a>
</td>
<td>
<a href="https://cupua2.eolymp.space/s/eumstncdeaidqjhq">Дівізіон 1</a><br />
<a href="https://cupua2.eolymp.space/s/idgnqtjzdfscaaiq">Дівізіон 2</a><br />
<a href="https://cupua2.eolymp.space/s/eqmihwfjgdcpubse">Дорішування</a>
</td>
</tr>
<tr>
<td>2</td>
<td>2022-12-18<br />10:00-15:00</td>
<td>
<a href="https://8vs5nxlot0.eolymp.io/">Дівізіон 1</a><br />
<a href="https://ndjem1x7j3.eolymp.io/">Дівізіон 2</a>
</td>
<td>
<a href="https://pynwztzac1.eolymp.io/">Дорішування</a>
</td>
<td>
<a href="https://cupua2.eolymp.space/s/xt743tozdlbh">Дівізіон 1</a><br />
<a href="https://cupua2.eolymp.space/s/3cywn2tu9hl1">Дівізіон 2</a><br />
<a href="https://cupua2.eolymp.space/s/z31ipez4tz4x">Дорішування</a>
</td>
</tr>
<tr>
    <td>3</td>
    <td>2023-01-22<br />10:00-15:00</td>
    <td>
        <a href="https://hsrdu7wnjm.eolymp.io/">Дівізіон 1</a><br />
        <a href="https://p2ct4wzvwt.eolymp.io/">Дівізіон 2</a>
    </td>
    <td>
        <a href="https://8oygoojwj5.eolymp.io/">Дорішування</a>
    </td>
    <td>
        <a href="https://cupua2.eolymp.space/s/1pv9ie80ycmf">Дівізіон 1</a><br />
        <a href="https://cupua2.eolymp.space/s/lawtmkd0jxk5">Дівізіон 2</a><br />
        <a href="https://cupua2.eolymp.space/s/lzkivh67fb5o">Дорішування</a>
    </td>
</tr>
<tr>
    <td>4</td>
    <td>2023-02-12<br />10:00-15:00</td>
    <td>
        <a href="https://ewjj6tmzfs.eolymp.io/">Дівізіон 1</a><br />
        <a href="https://tkjdu6qgqh.eolymp.io/">Дівізіон 2</a>
    </td>
    <td>
        <a href="https://n29aih5j67.eolymp.io/">Дорішування</a>
    </td>
    <td>
        <a href="https://cupua2.eolymp.space/s/w3onlymgzaqkfaq3">Дівізіон 1</a><br />
        <a href="https://cupua2.eolymp.space/s/e4gkbylflbaj02s4">Дівізіон 2</a><br />
        <a href="https://cupua2.eolymp.space/s/6t326tnt9pe9ie0f">Дорішування</a>
    </td>
</tr>

<tr>
    <td>5</td>
    <td>2023-03-05<br />10:00-15:00</td>
    <td>
        <a href="https://nolt0a96vi.eolymp.io/">Дівізіон 1</a><br />
        <a href="https://f2hrxejt4r.eolymp.io/">Дівізіон 2</a>
    </td>
    <td>
        <a href="https://g88wb92sbb.eolymp.io/">Дорішування</a>
    </td>
    <td>
        <a href="https://cupua2.eolymp.space/s/j3c0hxj5ny73zjw5">Дівізіон 1</a><br />
        <a href="https://cupua2.eolymp.space/s/85gn6xc40iohgj7a">Дівізіон 2</a><br />
        <a href="https://cupua2.eolymp.space/s/0m84i844gjo9mpml">Дорішування</a>
    </td>
</tr>

<tr>
    <td>6</td>
    <td>2023-03-26<br />10:00-15:00</td>
    <td>
        <a href="https://pjxpgy4un8.eolymp.io/">Дівізіон 1</a><br />
        <a href="https://bkkvzlrgfh.eolymp.io/">Дівізіон 2</a>
    </td>
    <td>
        <a href="https://r8xefqqiea.eolymp.io/">Дорішування</a>
    </td>
    <td>
        <a href="https://cupua2.eolymp.space/s/c2ywxfqokod68idd">Дівізіон 1</a><br />
        <a href="https://cupua2.eolymp.space/s/rs7xt1cd4s41qc0l">Дівізіон 2</a><br />
        <a href="https://cupua2.eolymp.space/s/zstbzay2k6r37tz9">Дорішування</a>
    </td>
</tr>
<tr>
    <td>7</td>
    <td>2023-04-30<br />10:00-15:00</td>
    <td>
        <a href="https://nq7idmz9og.eolymp.io/">Дівізіон 1</a><br />
        <a href="https://mr4rx3hzf1.eolymp.io/">Дівізіон 2</a>
    </td>
    <td>
        <a href="https://6lovwa3ztm.eolymp.io/">Дорішування</a>
    </td>
    <td>
        <a href="https://cupua2.eolymp.space/s/p4e36kwn6f">Дівізіон 1</a><br />
        <a href="https://cupua2.eolymp.space/s/q2aj9sbixi">Дівізіон 2</a><br />
        <a href="https://cupua2.eolymp.space/s/s5p9ghm3nw">Дорішування</a>
    </td>
</tr>
<tr>
    <td>8</td>
    <td>2023-05-28<br />10:00-15:00</td>
    <td>
        <a href="https://449fusx244.eolymp.io/">Дівізіон 1</a><br />
        <a href="https://t130luqxzj.eolymp.io/">Дівізіон 2</a>
    </td>
    <td>
        <a href="https://1z9sadd1nw.eolymp.io/">Дорішування</a>
    </td>
    <td>
        <a href="https://cupua2.eolymp.space/s/kulqysobd1">Дівізіон 1</a><br />
        <a href="https://cupua2.eolymp.space/s/eev3bdnnb2">Дівізіон 2</a><br />
        <a href="https://cupua2.eolymp.space/s/p40fkwmes8">Дорішування</a>
    </td>
</tr>
</tbody>
</table>
