<div class="container">
    <div data-include="footer" class="row">
        <h5 class="white-text">За підтримки</h5>
        <div class="row">
            <div class="col s2 m1"><a href="https://www.eolymp.com/"><img class="responsive-img" src="eolymp.png"></a></div>
            <div class="col s2 m1"><a href="https://www.dataart.com/en"><img class="responsive-img" src="dataart.png"></a></div>
            <div class="col s2 m1"><a href="https://www.gen.tech/blog"><img class="responsive-img" src="genesis.png"></a></div>
            <div class="col s2 m1"><a href="https://trainee.codeit.pro/"><img class="responsive-img" src="codeit.png"></a></div>
            <div class="col s2 m1"><a href="https://t.me/+ULjqHhrxpsjLrEv5"><img class="responsive-img" src="xto.png"></a></div>
            <div class="col s2 m1"><a href="https://software.nure.ua/"><img class="responsive-img" src="nure.png"></a></div>
        </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container">
        © 2022 ХНУРЕ
    </div>
</div>